.btn-record {
  background-image: url(../image/recorder.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
}

.btn-stop {
  background-image: url(../image/stopp.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border-image: round !important;
  border: none;
  border-radius: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
}

.toast-status {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
